/* ============================================CONTAINER===================== */

/*=============================================== LOGO ============================*/

/* =================================================NAVIGATION=========================== */

/* ==================================================Active-Page=================== */

/* ==================================================Header-contact=================== */

/* ==================================================Mail-tel================================ */

/* ==================================================Mail-tel================================ */
/*========================================================MAIN BUTTON-S=================================*/

/*==========================================================HERO=========================================*/

/* =================================================ADVANTAGE================= */

/* ================================================WORK-IMAGE============================ */

/* ================================================WORK-IMAGE============================ */
/* =================================================OUR-TEAM========================= */

/* ================================================ICON-SOCIAL-LINK-LIST============================ */
/* ================================================ICON-SOCIAL-LINK-LIST-COMPONENTS============================ */

/* ================================================ICON-SOCIAL-LINK-LIST============================ */

/* ================================================Clients============================ */

/* ================================================Clients============================ */
/* ================================================Footer===================================== */

/* ================================================Footer===================================== */

/* ================================================portfolio-button===================================== */

/* ================================================portfolio-button===================================== */
/* ================================================portfolio-card===================================== */

/* ================================================portfolio-card===================================== */
/* ================================================back-drop===================================== */

/* через js убирается этот клас и всплывет полупрозрачный фон и модальное окно  */
/* .backdrop.is-hidden {
  opacity: 1;
  pointer-events: none;
} */

/* ================================================back-drop===================================== */

/* ========================================================MODAL================================================================= */
/* ====================================================MODAL-WINDOWS================================== */

/* ====================================================MODAL-WINDOWS================================== */

/* ====================================================MODAL-CLOSE-ICON================================== */

/* ====================================================MODAL-CLOSE-ICON================================== */
/* ====================================================MODAL-FORM================================== */

/* ====================================================MODAL================= */

/* ------------------------------------------------- ВЫЕЗЖАЮЩИЙ ЗАЕЗЖАЮЩИЙ label  */
/* .form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
  transform: translateY(-50px);
} */

/*------------------------------ ДВИЖЕНИЕ иконки в input ------------- */
/* .form-input:focus ~ .icon{
  background-color: yellow;
} */

/* -------------------------------Скрываем ЭЛЕМЕНТ -------------- */
/* .visully-hidden{
  position:absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  border:0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
