.advantage {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.advantage__list {
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.advantage__item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: block;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantage__icon-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.header-typeh2 {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
  color: var(--main-text);
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}

.advantage__typeh3 {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.advantage__secondary-text {
  width: 100%;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--third-text);
  // height: 75px;
}
